<div class="title">
    <h1>GESTION DE INMUEBLES</h1>
</div>

<div class="createBtn" *ngIf="showCreateBtn()">
    <button mat-raised-button color="accent">PUBLICAR INMUEBLE</button>
</div>

<div class="inmuebles">
    <div *ngFor="let item of propertyMaster">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{item.title | titlecase}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/fachadaCasa1.jpg" alt="Photo of a house">
            <mat-card-content>
                    <h4><b>{{item.price | currency: "COP": "symbol"}}</b></h4>
                    <p>{{item.city | titlecase}} - {{item.zone | titlecase}}</p>
            </mat-card-content>
            <mat-card-actions class="actionButtons" *ngIf="showCreateBtn()">
                <button mat-button color="accent">EDITAR</button>
                <button mat-button color="accent">ELIMINAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

