<div class="productsTable">
    <table class="table table-striped table-bordered tableMargin">
        <thead class="tableHeader">
            <tr class="tableHeader">
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colname}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colIdType}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colIdentification}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colEmail}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colPhone1}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colPhone2}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colWorkCity}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colWorkZone}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colUser}}</th>
                <th class="tableHeader" scope="col">{{config.config.advisersComponent.colStatus}}</th>
            </tr>
        </thead>
        <tbody *ngIf="adviserMaster.length > 0">
            <tr *ngFor="let item of adviserMaster">
                <td scope="row"> {{item.name}} </td>
                <td>{{item.id_type}}</td>
                <td>{{item.identification}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone1}}</td>
                <td>{{item.phone2}}</td>
                <td>{{item.workCity}}</td>
                <td>{{item.workZone}}</td>
                <td>{{item.user}}</td>
                <td>{{item.password}}</td>
                <td [ngStyle] = "{'color': item.status === true ? 'green' : 'red'}">{{item.status? "Activo": "Inactivo"}}</td>
            </tr>
        </tbody>
    </table>
</div>